.footer {
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_paragraph {
  width: 167px;
  color: #8d9b9c;
  margin-right: 122px;
}

.footer_list {
  padding-top: 25px;
}

.footer_media {
    text-align: right;
    padding-top: 1rem;
}

.footer_media_item {
    cursor: pointer;
}

.footer_links {
  padding-right: 2rem;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.footer_links:hover {
  color: #F67E7E;
  transition: 0.3s;
}

.footer_media_text {
  color: #8d9b9c;
  padding-top: 40px;
  /* text-align: right; */
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
}
